#arrow_left{
	width: 50px;
	height: 50px;
	background-color: grey;
	border-radius: 50%;
	text-align: center;
	padding: 10px;
	font-size: 35px;
	color: yellow;
	position: absolute;
	left:390px;
	top:370px;
	opacity: 0.5;
}
#arrow_left:hover{
	cursor: pointer;
	color: red;
	background-color: black;
}
#arrow_right:hover{
	cursor: pointer;
	color: red;
	background-color: black;
}
#arrow_right{
	width: 50px;
	height: 50px;
	background-color: grey;
	border-radius: 50%;
	text-align: center;
	padding: 10px;
	font-size: 35px;
	color: yellow;
	position: absolute;
	left:1080px;
	top:370px;
	opacity: 0.5;
}
#img1{
		position: absolute;
		left: 360px;
		top:210px;
		z-index: -1;
		width: 820px;
		height: 388px;
}

.img_icon{
	position: absolute;
	top: 570px;
	left:670px;
}
.img_icon div{
	width:30px;
	height: 5px;
	background-color: grey;
	border-radius: 15%;
	opacity: 0.4;
	float: left;
	margin: 6px;	
}
.img_icon div:hover{
	background-color: black;
	cursor: pointer;
}

#div1{
	background-color:black;
}